# Исключить папку images
/images/

# Исключить виртуальное окружение Python
/venv/
/env/

# Исключить кэш
/__pycache__/

# Исключить файлы окружения (.env, .env.local и т. д.)
.env
.env.*
*.env

# Исключить файлы баз данных
*.db*
*.sqlite
*.sqlite3
*.db3

# Исключить файлы логирования
*.log